html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  width: 300px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.border-custom-grey {
  border: 2px solid #2c3e50;
}

.card-header {
  color: #ffffff;
  font-family: open sans;
  font-size: 22px;
  background-color: #3498db;
}

.card-header p {
  display: inline;
  font-size: 22px;
  margin: 0;
  padding-left: 8px;
}

.card-header .icono-anadir {
  width: 24px;
  height: 24px;
}

.card-header img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.card-title, .card-text{
  color: #2c3e50;
  font-family: open sans;
}




.modal, .modal-title {
  font-family: open sans;
  font-weight: bold;
  color: #2c3e50;
}

.modal-title {
  font-size: 24px;
  text-align: justify;
}

.modal-content {
  border-radius: 12px;
  background-color: #f1c40f;
}

.modal-header {
  position: relative;
  justify-content: center;
  /* centra el contenido horizontalmente */
}

.modal-header .modal-title {
  margin: 0 auto;
  text-align: center;
}

.modal-header .btn-close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn-custom-blue {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-weight: bold;
  margin: 10px 0;
  font-family: open sans;
}

.btn-custom-blue:hover {
  background-color: #27ae60;
  color: white;
}

.btn-danger {
  color: #ffffff;
  border: none;
  font-weight: bold;
  margin: 10px 0;
  font-family: open sans;
}

.bnt-danger:hover {
  background-color: #2c3e50;
  color: white;
}
