/*--- ESTILOS GENERALES ---*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #2c3e50;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


/*--- ESTILOS CONTENIDO ALOJAMIENTO ---*/
.alojamiento {
  position: relative;
  background-color: #f1c40f;
  border-radius: 20px;
  padding: 40px;
  color: #2c3e50;
  max-width: 1000px;
  margin: 0 auto 20px auto;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 200px;
}

.checkin {
display: inline;
}

/*--- BOTONES PERSONALIZADOS ---*/
.botones {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.btn-custom-blue {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.btn-custom-blue:hover {
  background-color: #27ae60;
  color: white;
}

.btn-danger {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.btn-danger:hover {
  background-color: #2c3e50;
  color: white;
}

/*--- ESTILOS MENÚ Y FOOTER ---*/
/*--- En este caso se sobreescriben el menú y el footer general para cambiar el color de los textos ---*/
#menu *, #footer * {
  color: #2c3e50;
}

/*--- RESPONSIVE ---*/
@media (max-width: 768px) {
  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
