/*--- ESTILOS CONTENIDO DATOS ---*/
.alojamiento {
  font-size: 16px;
  font-weight: bold;
  margin-left: 150px;
  line-height: 0;
}

/*--- BOTONES  ---*/
.acciones {
  position: relative;
  margin-left: 420px;
}

.btn-secondary {
  margin-bottom: 0px;
}

/*--- RESPONSIVE ---*/
@media (max-width: 768px) {
  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
