/*--- ESTILOS CONTENIDO DATOS ---*/
.transporte {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
  line-height: 1.6;
  margin-bottom: 20px;
}

/*--- BOTONES  ---*/
.acciones {
  position: relative;
  margin-left: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.btn-secondary {
  margin-bottom: 0px;
}

/*--- RESPONSIVE ---*/
@media (min-width: 576px) {
  .acciones {
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .transporte {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .acciones {
    gap: 20px;
    margin-top: 20px;
  }

  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (min-width: 992px) {
  .transporte {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
