/* --- ESTILOS GENERALES ---*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #2c3e50;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*--- BOTONES PERSONALIZADOS ---*/
.btn-custom-blue {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-weight: bold;
}

.btn-custom-blue:hover {
  background-color: #27ae60;
  color: white;
}

.btn-danger {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #2c3e50;
  color: white;
}

/*--- ESTILOS MODAL ---*/
label {
  font-weight: bold;
}

.modal, .modal-title {
  color: #2c3e50;
}

.modal-title {
  font-size: 24px;
  text-align: justify;
}

.modal-content {
  border-radius: 12px;
  background-color: #f1c40f;
}

.modal-header {
  position: relative;
  justify-content: center;
}

.modal-header .modal-title {
  margin: 0 auto;
  text-align: center;
}

.modal-header .btn-close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
