.footer {
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 40px;
  margin-right: 40px;
}

/* Enlaces del footer */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Texto de derechos */
.footer-copy p {
  margin: 0;
  font-size: 14px;
  text-align: right;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    align-items: center;
    margin-bottom: 10px;
  }

  .footer-copy p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-links a {
    font-size: 12px;
  }

  .footer-copy p {
    font-size: 12px;
  }
}
