body, html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url("../imagenes/login.jpg");
  background-size: cover;
  background-position: center;
}

.form-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.btn-custom {
  background-color: #3498DB;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #2980B9;
}
