.navbar {
  background-color: #3498DB !important;
}

.navbar-nav {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 600;
  font-family: open sans;
}

.navbar-nav .nav-link:hover {
  color: #2c3e50;
}

.logo {
  height: 100px;
}

.img-fluid-logo {
  max-height: 50px;
}

.img-fluid-perfil {
  max-height: 25px;
}

.navbar-nav .nav-link img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover img {
  filter: brightness(0.3);
}
