.navbar-nav {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: #2c3e50;
  font-weight: 200;
  font-family: Open Sans, sans-serif;
}

.logo {
  height: 100px;
}

.img-fluid-logo {
  max-height: 50px;
}

.img-fluid-perfil {
  max-height: 25px;
}

.navbar-nav .nav-link img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover img {
  filter: brightness(0.3);
}

/*--- RESPONSIVE --- */
@media (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    padding: 10px 20px;
  }

  .navbar-nav .nav-link {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 8px 0;
  }

  .logo {
    height: 70px;
  }

  .img-fluid-logo {
    max-height: 35px;
  }

  .img-fluid-perfil {
    max-height: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-nav .nav-link {
    font-size: 15px;
  }

  .logo {
    height: 60px;
  }

  .img-fluid-logo {
    max-height: 30px;
  }

  .img-fluid-perfil {
    max-height: 18px;
  }
}
