.navbar-nav {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 200;
  font-family: Open Sans, sans-serif;
}

.logo {
  height: 100px;
}

.img-fluid-logo {
  max-height: 50px;
}

.img-fluid-perfil {
  max-height: 25px;
}

.navbar-nav .nav-link img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover img {
  filter: brightness(0.3);
}

li a img {
  width: 25px;
  height: 25px;
}
