/*--- ESTILOS GENERALES ---*/
.texto {
  background-color: #f1c40f;
  border-radius: 20px;
}

/*-- ESTILOS BOTONES ---*/
.btn-secondary {
  background-color: #2c3e50;
  color: #ffffff;
  border: none;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 1180px;
}

/*--- ESTILOS MENÚ Y FOOTER ---*/
/*--- En este caso se sobreescriben el menú y el footer general para cambiar el color de los textos ---*/
#menu *, #footer * {
  color: #2c3e50;
}

#menu .usuario {
  content: url("../imagenes/perfil.png");
}

/*--- REPONSIVE ---*/
@media (max-width: 768px) {
  body {
    margin: 10px;
  }

  p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.8em;
  }
}
