/* --- ESTILOS GENERALES --- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../imagenes/fondo_viajes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* --- CONTENEDOR PRINCIPAL --- */
.container-fluid-viajes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
}

 /* --- Tarjetas --- */
.card {
  width: 300px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-body, .list-group-item {
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
}

.card-title, .card-text, .list-group-item {
  font-family: Open Sans, sans-serif;
}

.card-body a img {
  width: 25px;
  height: 25px;
  transition: transform 0.2s ease;
  border-color: #f1c40f;
}

.card-body a img:hover {
  transform: scale(1.2);
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}


/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .card {
    width: 250px;
    margin: 10px;
  }

  .card-img-top {
    height: 160px;
  }

  .btn-custom-blue,
  .btn-danger {
    padding: 10px 15px;
    font-size: 14px;
  }

  .modal-title {
    font-size: 20px;
  }

  .cards-wrapper {
    gap: 15px;
  }

  .container-fluid-viajes {
    padding: 15px 0;
  }
}

@media (max-width: 480px) {

  html, body {
    background-position: top;
    font-size: 14px;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }

  .card-img-top {
    height: 140px;
  }

  .btn-custom-blue,
  .btn-danger {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }

  .modal-title {
    font-size: 18px;
    text-align: center;
  }

  .modal-content {
    width: 95%;
    margin: auto;
  }

  .container-fluid-viajes {
    padding: 10px 5px;
  }
}
