/*--- ESTILOS CHECKIN/CHECKOUT ---*/
.check {
  display: flex;
  gap: 10px;
}

.check-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.check-item input {
  width: 100%;
  box-sizing: border-box;
}

/*--- RESPONSIVE ---*/
@media (max-width: 768px) {
  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
