/*--- ESTILOS GENERALES ---*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #2c3e50;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  font-size: 1em;
  line-height: 1.6;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*--- ESTILOS LISTA ALOJAMIENTOS ---*/
.alojamientos-lista {
  border-radius: 20px;
}

/*--- BOTONES PERSONALIZADOS ---*/
.btn-custom-blue {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1130px;
}

.btn-custom-blue:hover {
  background-color: #27ae60;
  color: white;
}

/*--- ESTILOS MENÚ Y FOOTER ---*/
/*--- En este caso se sobreescriben el menú y el footer general para cambiar el color de los textos ---*/
#menu *, #footer * {
  color: #2c3e50;
}

/*--- RESPONSIVE ---*/
@media (max-width: 768px) {
  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
