/*--- ESTILOS ALOJAMIENTO ---*/
.lista {
  width: 100%;
}

.check {
  display: flex;
  gap: 10px;
}

.check-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.check-item input {
  width: 100%;
  box-sizing: border-box;
}

/*--- MEDIA QUERIES CONSOLIDADAS ---*/

@media (min-width: 481px) and (max-width: 768px) {
  .lista {
    width: 90%;
  }

  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }

  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .lista {
    width: 80%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .lista {
    width: 70%;
  }
}

@media (min-width: 1201px) {
  .lista {
    width: 59%;
  }
}
