/*--- ESTILOS ALOJAMIENTO ---*/
.lista {
  width: 59%;
}

/*--- RESPONSIVE ---*/
@media (max-width: 1200px) {
  .lista {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .lista {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .lista {
    width: 90%;
  }

  .btn-custom-blue {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .lista {
    width: 100%;
  }

  body {
    margin: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

/*--- ESTILOS CHECKIN/CHECKOUT ---*/
.check {
  display: flex;
  gap: 10px;
}

.check-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.check-item input {
  width: 100%;
  box-sizing: border-box;
}
